<%= form_with(model: vacin) do |form| %>
  <% if vacin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacin.errors.count, "error") %> prohibited this vacin from being saved:</h2>

      <ul>
        <% vacin.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
<br/>
    <%= form.number_field :iest_kods, class: "form-control", placeholder: "Vakcinācijas iestādes kods" %>
  </div>

  <div class="field form-group">
    <br/>

    <%= form.text_field :iest_nos, class: "form-control", placeholder: "Vakcinācijas iestādes nosaukums" %>
  </div>

  <div class="field form-group">
    <br/>
    <%= form.label :Vakcinacijas_datums %>
    <br/>
    <br/>

    <%= form.date_select :vacin_date, class: "form-control", placeholder: "Vakcinācijas datums" %>
  </div>

  <div class="field form-group">
    <br/>
    <%= form.text_field :vacin_type, class: "form-control", placeholder: "Vakcīnas veids" %>
  </div>

  <div class="field form-group">
    <br/>

    <%= form.text_field :preparat, class: "form-control", placeholder: "Preparāts" %>
  </div>





  <div class="field form-group">
    <br/>

    <%= form.text_field :vacin_posms, class: "form-control", placeholder: "Vakcinācijas posms" %>

  </div>

  <div class="field form-group">
    <br/>

    <%= form.number_field :vacin_kartas_num, class: "form-control", placeholder: "Vakcīnas kārtas numurs" %>
  </div>

  <div class="field form-group">
    <br/>

    <%= form.text_field :prep_daudz, class: "form-control", placeholder: "Preparāta daudzums ml" %>
  </div>

  <div class="field form-group">
    <br/>

    <%= form.text_field :vakcin_ievade, class: "form-control", placeholder: "Vakcīnas ievadīšanas veids" %>
  </div>

  <div class="field form-group">
    <br/>

    <%= form.text_field :indik_vakcin, class: "form-control", placeholder: "Indikācijas vakcinācijai" %>
  </div>

  <div class="field form-group">
    <br/>

    <%= form.number_field :pers_age, class: "form-control", placeholder: "Vakcinētās personas vecums" %>
  </div>

  <div class="field form-group">
    <br/>

    <%= form.text_field :pers_dzimums, class: "form-control", placeholder: "Vakcinētās personas dzimums" %>
  </div>

  <div class="field form-group">
    <br/>

    <%= form.number_field :pers_skaits, class: "form-control", placeholder: "Vakcinēto personu skaits" %>
  </div>


  <div class="field form-group">
    <br/>

    <%= form.number_field :user_id, id: :vacin_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <br/>
    <%= form.submit class:'btn btn-secondary' %>
  </div>
<% end %>
